<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/ttt" method="post">
      <h2>What is your name?</h2><br/>
      <input type="text" name="name">
      <input type="submit" value="OK">
    </form>
    <div class="login-btn">
      <a href="/login">Login</a>
    </div>
    <div class="register-btn">
      <a href="/register">Register</a>
    </div>
  </body>
</html>
