<!DOCTYPE html>
<html>
    <head>
        <title>Tic Tac Terminator</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div class="register-form">
            <h1>Register</h1>
            <form action="/adduser" method="post">
                <h2>Username</h2><br/>
                <input type="text" name="user">
                <h2>Password</h2>
                <input type="text" name="pass">
                <h2>Email</h2>
                <input type="text" name="email">
                <input type="submit" value="register">
            </form>
        </div>
    </body>
</html>
