<!DOCTYPE html>
<html>
    <head>
        <title>Tic Tac Terminator</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <div class="verification-form">
            <h1>Verify your account</h1>
            <form action="/login" method="post">
                <h2>Email</h2><br/>
                <input type="text" name="email">
                <h2>Key</h2>
                <input type="text" name="key">
                <input type="submit" value="verify">
            </form>
        </div>
    </body>
</html>
